.demo2{
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
}
#frame{
	width: 400px;
	margin: 0 auto;
	position: relative;
	border: 1px solid #CCCCCC;
}
#frame2{
	width: 250px;
	height: 250px;
	border: 2px solid #CCCCCC;
	position: relative;
	top: -602px;
	left: 480px;
	overflow: hidden;
	display: none;
}
#large{
	position: absolute;
}
#box{
	width: 100px;
	height: 100px;
	background-color: rgba(180,180,180,0.3);
	border: 1px solid #CCCCCC;
	left: 0;
	top: 0;
	display:none;
}
.bd{
	width: 400px;
	height: 400px;
	position: absolute;
	border: 2px dashed #8C8C8C;
	background-color: rgba(180,180,180,0.3);
}
.bd2{
	position: relative;
}
#img{
	padding-left: 2px;
	padding-top: 2px;
	position: absolute;
	z-index: -1;
}
