* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/1.5 "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑";
	background: #fff;
}

.main {
	width: 450px;
	border: 1px dashed #ccc;
	padding: 30px 50px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 20px;
}

.list {
	padding-left: 30px;
}

.list li {
	font-size: 22px;
	color: black;
	border-bottom: solid 1px #f2f2f2;
}

.list li h1 {
	font-size: 22px;
	line-height: 50px;
	display: block;
}
.list li h1 a {
	text-decoration: none;
	color: steelblue;
}

.list li a {
	display: block;
	transition: all 0.6s;
	padding: 5px 10px;
}
.list li a:hover{
	border-radius: 7px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image:-webkit-linear-gradient(top, #62c462, #51a351);
	background-image:-o-linear-gradient(top, #62c462, #51a351);
	background-image:linear-gradient(to bottom, #62c462, #51a351);
	background-repeat:repeat-x;
	color: white;
	padding-left: 50px;
	text-shadow: 0 2px 1px #360;
}
li dl dd{
	line-height: 50px;
}
li dl {
	overflow: hidden;
	display: none;
}
.slide{
	animation: slide 1s;
	-webkit-animation: slide 1s;
}
@-webkit-keyframes slide /*Safari and Chrome*/
{
from {height: 500px;}
to {height:0px;}
}

li dl dd a{
	color: steelblue;
	text-decoration: none;
	padding: 5px 8px;
	margin-left: 25px;
}
